.body-index {
  background-image: url(../img/bg/main-bg.png);
}

.body-corporate {
  background-image: url(../img/bg/bg-corporates.png);
}

.body-contacts {
  background-image: url(../img/bg/bg-contacts.png);
}

.body-fashion {
  background-image: url(../img/bg/bg-fashion.png);
}

.body-sport {
  background-image: url(../img/bg/bg-sport.png);
}

.body-wedding {
  background-image: url(../img/bg/bg-wedding.png);
}

.body-gallery {
  background-image: url(../img/bg/bg-gallery.png);
}
