
$font-family-base: "PT Serif", "Times New Roman", "Georgia", serif;
$font-family-second: "Yeseva One", "Times New Roman", "Georgia", serif;
$font-family-title: "BebasNeueBold", "Arial", "Tahoma", sans-serif;
$font-size-base: 14px;
$line-height-base: 30px;
$font-weight-base: 400;
$text-color-base: #dfeaff;
$text-color-title: #fff;
$color-second: #e0af6e;
$color-third: #061636;
$color-hoverandinput: #ea9f3d;
$color-background: #010610;


